<!DOCTYPE html>
<html>
  <head>
    <title>管理者メイン画面</title>
    <style>
      body {
          font-family: Arial, sans-serif;
      }
      h1 {
          color: #2c3e50;
      }
      ul {
          background: #ecf0f1;
          list-style-type: square;
          padding: 0;
      }
      li {
          background: #ecf0f1;
          margin: 0px 0;
          padding: 0px;
          border-radius: 4px;
      }
  </style>
  </head>
  <nav>
    <a href="/login">トップに戻る</a> |
    <a href="/clear">ログアウト</a>
  </nav>
  <!-- ボタンを使ったログアウトの実装
  <form action="/clear" method="get" style="display: inline;">
    <button type="submit">ログアウト</button>
  </form>

  -->
 <body>
  <h1>ここは管理者画面です</h1>
  <p>admin</p>
  <!--<a href="https://192.168.3.19:8000/login">トップに戻る</a>-->
  <a>未実装</a>
  <ul>
    <li>注文一覧</li>
    <li>FAX送信ボタン</li>
    <li>予定表編集UI</li>
    <li><a href="https://192.168.3.19:8000/admin/me/update_existing_passwords">DBにあるユーザーパスワードをすべて暗号化する</a></li>
    <!-- 管理者画面の適当な位置に追加 -->
    <li><a href="/admin/logs">ログファイル一覧</a></li>
    <li><a href="https://192.168.3.19:8000/admin/logs/2025-03-19.log?highlight=DEBUG"></a></li>
  </ul>
</body>
</html>