# Python バイトコードキャッシュ
**/__pycache__/
*.py[cod]
*$py.class

# 仮想環境
venv/
.venv/
env/
.env/
.env
**env
**.env
.Python

# IDE/エディタ用
.vscode/
**.vscode
.idea/
*.swp

# ログ・実行履歴
*.log
*.sqlite3
*.db
v_*/app/logs/
v_*/app/order_logs/
**/app/logs/
**/app/order_logs/

# テストキャッシュ
.pytest_cache/
**.pytest_cache
.mypy_cache/
coverage.xml
htmlcov/

# パッケージング・ビルド
build/
dist/
*.egg-info/

# Docker等
*.pid
*.sock

# coreフォルダ
**/security.py
**/app/core/
**.key
**.csr
**.crt
**.cnf
**.pem
**.ini

# Obento-Test 特有の除外設定
v_*/app/database/example.db
v_*/app/database/_example.db
Documents/
**/不要
**Obento-Test Prompt.lnk
**/app/1. Obento-Test Prompt.lnk
**/app/2. Obento-Test SmartPhone.lnk
**/app/3. Obento-Test curl用.lnk
**/app/4. DB Browser.lnk
**/app/5. Obento-Test Prompt用.lnk
**/DBBrowser/
Obento-Test.git/

# macOS 特有の除外設定
**.DS_Store

