{% extends "base.html" %}

{% block title %}注文完了{% endblock %}

{% block content %}
  <h1 class="text-dark">注文完了</h1>
  <p>ご注文ありがとうございました。</p>
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th>番号</th>
        <th>会社</th>
        <th>名前</th>
        <th>メニュー名</th>
        <th>注文数</th>
        <th>注文日時</th>
        <th>キャンセル有無</th>
      </tr>
    </thead>
    <tbody>
      {% include 'order_table.html' %}
    </tbody>
  </table>
{% endblock %}
