<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    {% include 'components/header.html' %}

    これは親に書かれています。
    {% block content %}{% endblock %}

    <h1>親テンプレートの内容</h1>
    {% macro input(name, value='', type='text') %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value }}">
    {% endmacro %}

    {{ input('username') }}
    {{ input('password', type='password') }}
    
    <p>Main content goes here.</p>
    {% include 'components/footer.html' %}
</body>
</html>
