<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>顧客担当者注文一覧</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            h1 {
                color: #2c3e50;
            }
            ul {
                background: #ecf0f1;
                list-style-type: square;
                padding: 0;
            }
            li {
                background: #ecf0f1;
                margin: 0px 0;
                padding: 0px;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <h1>顧客担当者注文一覧</h1>
        <h2>注文締切時刻：毎前日13時</h2>
        <ul>未実装機能一覧</ul>
            <li>注文データ集計</li>
            <li>FAX送信</li>
        <table border="1">
            <thead>
                <tr>
                    <th>番号</th>
                    <th>会社</th>
                    <th>名前</th>
                    <th>メニュー名</th>
                    <th>注文数</th>
                    <th>注文時刻</th>
                    <th>キャンセルの有無</th>
                </tr>
            </thead>
            <tbody>
                {% include 'table.html' %}
            </tbody>
        </table>
    </body>
</html>