<html> 
 <head> 
    <title>token登録済</title>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <script> function closeTab() 
    {
       if (window.top === window) {
          window.close(); 
         } else { 
            alert("このタブはJavaScriptで開かれたものではないため、閉じることができません。手動で閉じてください。"); 
         } 
   } 
    </script>
   </head> 
 <body> 
    <h1>tokenは登録済みです</h1> 
    <p>このページは「/cde」にアクセスしたときに表示されます。</p>
    <a href="https://localhost:8000" />
    <!--<input type="button" onclick="window.close();" value="ウィンドウを閉じる">-->
    <button onclick="closeTab()">このタブを閉じてください</button>
 </body> 
</html>