<html>
    <head>
        <title>ここはユーザー登録ページです</title>
    </head>
    <body>
        <h1>こんにちは！</h1>
        <form action="/register" method="post">
            <label for="username">ID:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">パスワード:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="OK">
        </form>
        <Script>
            function checkCookie() {
                 let cookieValue = document.cookie 
                    .split('; ') 
                    .find(row => row.startsWith('token=')) 
                    .split('=')[1]; 
                    if (cookieValue) {
                        let tokenPayload = JSON.parse(atob(cookieValue.split('.')[1])); 
                        let exp = tokenPayload.exp; 
                        let now = Math.floor(Date.now() / 1000); if (now > exp) {
                            alert('Token has expired. Please log in again.');
                        }
                     }
            } 
            // 必要なアクションを実行（例：ログインページにリダイレクト）
            setInterval(checkCookie, 1000); // 1秒ごとにクッキーの有効期限をチェック
        </Script>
    </body>
</html>
