{% for order in orders %}
<tr>
    <td>{{ order.number }}</td>
    <td>{{ order.company }}</td>
    <td>{{ order.name }}</td>
    <td>{{ order.menu }}</td>
    <td>{{ order.value }}</td>
    <td>{{ order.date }}</td>
</tr>
{% endfor %}
<!--<tr>
    <td>1</td>
    <td>テンシステム</td>
    <td>大隈　慶</td>
    <td>日替弁当</td>
    <td>1</td>
    <td>2025-1-22 13:53</td>
</tr>
<tr>
    <td>2</td>
    <td>テンシステム</td>
    <td>大隈　慶</td>
    <td>日替弁当</td>
    <td>1</td>
    <td>2025-1-22 13:53</td>
</tr>
<tr>
    <td>3</td>
    <td>テンシステム</td>
    <td>大隈　慶</td>
    <td>日替弁当</td>
    <td>1</td>
    <td>2025-1-22 13:53</td>
</tr>-->