<html>
    <head>
        <title>顧客担当者注文一覧</title>
    </head>
    <body>
        <h1>顧客担当者注文一覧</h1>
        <h2>注文締切時刻：毎前日13時</h2>
        <h2>未実装機能一覧</h2>
        <a>注文データ集計</a>
        <a>FAX送信</a>
        <table border="1">
            <thead>
                <tr>
                    <th>番号</th>
                    <th>会社</th>
                    <th>名前</th>
                    <th>メニュー名</th>
                    <th>注文数</th>
                    <th>注文時刻</th>
                    <th>キャンセルの有無</th>
                </tr>
            </thead>
            <tbody>
                {% include 'table.html' %}
            </tbody>
        </table>
    </body>
</html>